/* You can add global styles to this file, and also import other style files */
.owl-prev,
.owl-next {
  color: #fff !important;
  opacity: 0.3;
  font-size: 2rem !important;
  background-color: transparent !important;
  position: absolute;
  top: 40%;
}

.owl-next {
  right: 0;
}

.owl-prev {
  left: 0;
}

html body {
  background: #efefef;
}

a {
  color: #000000;
}

img {
  width: 100%;
}